footer {
  min-height: 50vh;
  background: $footerBackground;
  padding-top: 5rem;
  border-top-right-radius: 100px 60px;

  nav {
    @include flex(start, start, row);

    .logo-nav {
      flex: 1 1 15rem;
    }

    .footer-ul {
      flex: 4 1 15rem;
      padding-top: 1rem;
      @include flex(start, start, row);
      li {
        flex: 1 1 15rem;
        .ul {
          padding-top: 3rem;

          li {
            padding: 1rem 0rem;
            &:hover {
              text-decoration: underline;
            }
            a {
              color: $footerText;
            }
          }
        }
      }
    }
  }
}
