.intro {
  min-height: 60vh;
  background-image: url("../assets/images/bg-pattern-intro.svg"), $redGrade;
  background-size: 140%;
  background-position: left center;
  border-bottom-left-radius: 100px 60px;
}

nav {
  width: 85%;
  margin: 0 auto;
  min-height: 15vh;
  @include flex(space-between, center, row);

  .logo-nav {
    padding: 3rem 0rem;
    @include flex(start, center, row);
    flex: 1 1 30rem;

    .mobil-container {
      @include flex(space-between, center, row);
      .company-logo {
        padding-right: 6rem;
        flex: 1 1 15rem;
      }

      .burger {
        display: none;
        cursor: pointer;
      }
    }
    hr {
      display: none;
    }

    #mobil-login {
      display: none;
    }
    .mobilUl-container {
      width: 100%;
    }

    .main-ul {
      @include flex(space-between, center, row);
      flex: 4 1 15rem;
      // pointer-events: z/;

      .main-li {
        flex: 1 1 15rem;
        position: relative;
        &:hover {
          text-decoration: underline;
        }

        img {
          padding-left: 1rem;
          pointer-events: none;
          cursor: default;
        }
        .active {
          padding-right: 1rem;
          padding-left: 0;
          transform: rotate(180deg);
        }
      }

      .li1 {
        padding: 4rem 0rem;
        &:hover {
          .flip {
            padding-right: 1rem;
            padding-left: 0;
            transform: rotate(180deg);
          }
          .dropUl1 {
            @include dropMenu();
            li {
              a {
                pointer-events: auto;
              }
            }
          }
        }
        a {
          pointer-events: none;
        }
      }

      .li2 {
        padding: 4rem 0rem;
        &:hover {
          .flip {
            padding-right: 1rem;
            padding-left: 0;
            transform: rotate(180deg);
          }
          .dropUl2 {
            @include dropMenu();
            li {
              a {
                pointer-events: auto;
              }
            }
          }
        }
        a {
          pointer-events: none;
        }
      }

      .li3 {
        padding: 4rem 0rem;
        &:hover {
          .flip {
            padding-right: 1rem;
            padding-left: 0;
            transform: rotate(180deg);
          }
          .dropUl3 {
            @include dropMenu();
            li {
              a {
                pointer-events: auto;
              }
            }
          }
        }
        a {
          pointer-events: none;
        }
      }

      .dropUL-inactive {
        display: none;
      }

      .dropUl {
        @include dropMenu();
      }
    }
  }

  .login {
    @include flex(flex-end, center, row);
    flex: 2 1 20rem;
    button {
      border: none;
      background: none;
      min-width: 120px;
      padding: 1rem 2rem;
      margin: 0 1rem;
      border-radius: 25px;
      text-decoration: none;
      cursor: pointer;
      text-align: center;
      &:hover {
        background: $lightRed;
        color: $whiteText;
        border: solid thin $lightRed;
      }
    }
    .active {
      @include active(white, $red);
    }
  }
}

.intro-text {
  @include flex(center, center, column);
  color: $whiteText;
  min-height: 50vh;
  padding-bottom: 10rem;
  h1 {
    font-size: $header1;
    @include Overpass($weight: 300);
  }
  p {
    padding: 1rem;
  }
  .intro-links {
    margin-top: 3rem;

    button {
      border: solid thin white;
      background: none;
      min-width: 140px;
      padding: 1rem 2rem;
      margin: 0 1rem;
      border-radius: 25px;
      text-decoration: none;
      cursor: pointer;
      text-align: center;
      &:hover {
        background: $lightRed;
        color: $whiteText;
        border: solid thin $lightRed;
      }
    }
    .active {
      @include active(white, $red);
    }
  }
}
