.intro {
  min-height: 60vh;
  overflow: hidden;
  background-image: url("../assets/images/bg-pattern-intro.svg"), $redGrade;
  background-size: 140%;
  background-position: left center;
  border-bottom-left-radius: 100px 60px;
}

nav {
  width: 85%;
  margin: 0 auto;
  min-height: 10vh;
  @include flex(space-between, center, row);

  .logo-nav {
    @include flex(flex-start, center, row);
    flex: 4 1 30rem;

    ul {
      @include flex(space-between, center, row);
      padding-left: 4rem;
      li {
        padding-left: 2rem;
        img {
          padding-left: 1rem;
        }
      }
      .dropUl {
        display: none;
      }
    }
  }

  .login {
    @include flex(flex-end, center, row);
    flex: 1 1 20rem;
    button {
      border: none;
      background: none;
      min-width: 120px;
      padding: 1rem 2rem;
      margin: 0 1rem;
      border-radius: 25px;
      text-decoration: none;
      cursor: pointer;
      text-align: center;
    }
    .active {
      @include active(white, $red);
    }
  }
}

.intro-text {
  @include flex(center, center, column);
  color: $whiteText;
  min-height: 50vh;
  padding-bottom: 10rem;
  h1 {
    font-size: $header1;
    @include Overpass($weight: 300);
  }
  p {
    padding: 1rem;
  }
  .intro-links {
    margin-top: 3rem;

    button {
      border: solid thin white;
      background: none;
      min-width: 140px;
      padding: 1rem 2rem;
      margin: 0 1rem;
      border-radius: 25px;
      text-decoration: none;
      cursor: pointer;
      text-align: center;
    }
    .active {
      @include active(white, $red);
    }
  }
}
