@media screen and (max-width: 1280px) {
  // Intro Section
  nav {
    .logo-nav {
      flex: 2 1 20rem;

      .company-logo {
        padding-right: 0rem;
        pointer-events: none;
      }
    }
    .login {
      flex: 1 1 20rem;
    }
  }
  .topSection {
    background-size: 52%;
  }
}

@media screen and (min-width: 1050px) {
  nav {
    .logo-nav {
      .main-ul {
        .li1 {
          padding: 4rem 0rem;
          &:hover {
            .flip {
              padding-right: 1rem;
              padding-left: 0;
              transform: rotate(180deg);
            }
            .dropUl1 {
              @include dropMenu();
              li {
                a {
                  pointer-events: auto;
                }
              }
            }
          }
          a {
            pointer-events: none;
          }
        }

        .li2 {
          padding: 4rem 0rem;
          &:hover {
            .flip {
              padding-right: 1rem;
              padding-left: 0;
              transform: rotate(180deg);
            }
            .dropUl2 {
              @include dropMenu();
              li {
                a {
                  pointer-events: auto;
                }
              }
            }
          }
          a {
            pointer-events: none;
          }
        }

        .li3 {
          padding: 4rem 0rem;
          &:hover {
            .flip {
              padding-right: 1rem;
              padding-left: 0;
              transform: rotate(180deg);
            }
            .dropUl3 {
              @include dropMenu();
              li {
                a {
                  pointer-events: auto;
                }
              }
            }
          }
          a {
            pointer-events: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  // Intro Section
  nav {
    .logo-nav {
      position: relative;
      @include flex(start, center, column);
      .mobil-container {
        padding-bottom: 3rem;
        width: 100%;
        .burger {
          visibility: visible;
          display: block;
        }
        .active {
          content: url("../assets/images/icon-close.svg");
        }
      }
      hr {
        display: block;
        height: 1px;
        background-color: #ccc;
        border: none;
        margin: 0rem 2rem;
      }
      #mobil-login {
        @include flex(center, center, column);
        button {
          margin: 1rem;
          color: black;
        }
        .active {
          background: $redGrade;
          color: white;
        }
      }
    }

    .mobilUl-container {
      position: fixed;
      z-index: 2;
      top: 15vh;
      left: 200%;
      text-align: center;
      display: block;
      background: white;
      max-width: 300px;
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0px 10px 40px rgba($color: #000000, $alpha: 0.25);
    }

    .nav-open {
      left: auto;
    }

    #main-ul {
      display: block;
      li {
        padding: 2rem;
        text-decoration: none;
        a {
          color: black;
        }
        img {
          content: url("../assets/images/icon-arrow-dark.svg");
        }
      }
    }

    #login {
      display: none;
    }
  }
}

@media screen and (max-width: 950px) {
  $header1: 3.8rem;
  $header2: 2.8rem;
  $header3: 2.6rem;
  $header4: 2rem;
  $text: 1.6rem;

  // Global

  p {
    @include Overpass(300);
    letter-spacing: default;
  }

  // Intro Section
  .intro {
    min-height: 90vh;
    background-size: 375%;
    background-image: url("../assets/images/bg-pattern-intro.svg"), $redGrade2;
    background-position: 35% 35%;
  }

  .intro-text {
    @include flex(start, center, column);
    padding: 6rem 1.6em 0rem 1.6rem;
    text-align: center;

    h1 {
      font-size: $header1;
      padding-bottom: 1rem;
    }
    p {
      font-size: $text;
    }
  }

  //   Top Section
  .topSection {
    @include flex(center, center, column);
    background-image: none;
    text-align: center;
    padding-bottom: 20rem;
    h2 {
      font-size: $header2;
    }
    img {
      visibility: visible;
      display: block;
      width: 100%;
    }
    .tsText {
      @include flex(center, center, column);
      padding-bottom: 5rem;
      .text {
        width: 100%;
      }

      p {
        font-size: $text;
        padding: 1rem 1rem;
        br {
          display: none;
        }
      }
    }
  }

  // Middle Section
  .middleSection {
    background-position: center top -500px, center;
    min-height: 90vh;
    text-align: center;
    position: relative;
  }

  .container {
    position: absolute;
    top: -200px;
    @include flex(space-between, center, column);
    max-height: 100%;
    width: 100%;
    img {
      width: 100%;
    }
    .text {
      p {
        font-size: $text;
        padding: 1rem 1rem;
        br {
          display: none;
        }
      }
    }
  }

  //   Bottom Section
  .bottomSection {
    background-image: none;
    text-align: center;
  }
  .bottomContainer {
    @include flex(center, center, column);
    width: 100%;
    img {
      display: block;
      visibility: visible;
      padding-top: 5rem;
      width: 100%;
    }
    .empty {
      display: none;
    }
    .tsText {
      @include flex(center, center, column);
      padding-bottom: 5rem;

      p {
        font-size: $text;
        padding: 1rem 1rem;
        br {
          display: none;
        }
      }
    }
  }
  //   Footer
  footer {
    // text-align: center;
    padding: 5rem 0rem;
    nav {
      @include flex(space-between, center, column);
      .footer-ul {
        @include flex(space-between, start, column);
        li {
          padding: 2rem 0rem;
        }
      }
    }
  }
}
