.middleSection {
  background-image: url(../assets/images/bg-pattern-circles.svg), $blueGrade;
  background-repeat: no-repeat;
  background-position: -60% 80%;
  max-height: 400px;
  border-bottom-left-radius: 100px 60px;
  border-top-right-radius: 100px 60px;
}

.container {
  width: 85%;
  margin: 0 auto;
  @include flex(space-between, center, row);
  max-height: 400px;

  .img {
    flex: 1 1 30rem;
    padding-top: 5rem;
  }

  .text {
    width: 85%;
    margin: 0 auto;
    flex: 1 1 30rem;
    h3 {
      color: $whiteText;
    }
    p {
      padding-top: 2rem;
      line-height: 2.7rem;
      letter-spacing: 0.1rem;
      color: $whiteText;
    }
    br {
      display: none;
    }
  }
}
