.topSection {
  min-height: 110vh;
  background-image: url("../assets/images/illustration-editor-desktop.svg");
  background-size: 57%;
  background-repeat: no-repeat;
  background-position: 135% center;

  h2 {
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
  img {
    display: none;
  }
}

.tsText {
  width: 85%;
  margin: 0 auto;
  @include flex(center, start, column);
  .text {
    padding-top: 5rem;
  }

  p {
    color: $bodyCopy;
    padding-top: 2rem;
    line-height: 2.7rem;
    letter-spacing: 0.1rem;
  }
}
